@page "/about-me"

<PageTitle>O mnie</PageTitle>

<div class="text-center">
    <h1 class="mt-2">Kamil Szurgot</h1>
    <h4 class="text-danger">Nr albumu: 109249</h4>
    <a target="_blank" href="https://github.com/kszurgot/SanBlazor">Link do projektu</a>
    <a target="_blank" href="/sample-data/recipies.json">JSON z przepisami</a>
</div>