@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
           <p class="fw-bold">Kamil Szurgot <span class="text-danger"> 109249</span></p>
        </div>

            @Body

    </main>
</div>
